<article class="education-section animated fadeIn" id="education">

    <div class="container">
        <h3 class="text-center">EDUCATION</h3>
        <div class="row mt-5">
            <div class="col-sm-12 col-md-6 col-lg-6 mt-5">
                <div class="card mb-3 mx-auto h-100" style="width: 80%;">
                    <img class="card-img-top img-fluid c-pointer" src="assets/img/is.png">
                    <div class="card-body text-center text-white bg-blue">
                        <h5 class="card-title"><strong>Computer systems engineer</strong></h5>
                        <p class="card-text">Virtual University of the state of Guanajuato</p>
                        <p class="card-text">April 2020 - current</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mt-5">
                <div class="card mb-3 mx-auto h-100" style="width: 80%;">
                    <img class="card-img-top img-fluid c-pointer" src="assets/img/tecnologies.jpg">
                    <div class="card-body text-center text-white bg-blue">
                        <h5 class="card-title"><strong>Web Development Courses</strong></h5>
                        <p class="card-text">+450 hours</p>
                        <a class="btn btn-outline-primary btn-sm text-white" [routerLink]="['certification']">Watch certifications</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

</article>